---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<button class="bg-sky-500 hover:bg-sky-700 font-bold px-4 py-2">Click</button>
		<input type="text"
			placeholder="Enter your name"
			class="placeholder:text-red-400 focus:border-red-900"
		/>
		<h1 class="text-lg font-bold">Table</h1>
		<table class="w-3/5">
			<thead>
				<td>Name</td>
				<td>Email</td>
			</thead>
			<tbody>
				<tr class="even:bg-slate-200 odd:bg-white">
					<td>Tham</td>
					<td>tham@test.com</td>
				</tr>
				<tr class="even:bg-slate-200 odd:bg-white">
					<td>Thami</td>
					<td>thami@test.com</td>
				</tr>
				<tr class="even:bg-slate-200 odd:bg-white">
					<td>Thamiz</td>
					<td>thamiz@test.com</td>
				</tr>
			</tbody>
		</table>

		<h1 class="text-lg font-bold">Form</h1>
		<form action="#">
			<label class="block">
				<span class="block">Email</span>
				<input type="text" class="block border border-slate-500 focus:outline-none focus:border-slate-900"/>
			</label>
		</form>
	</body>
</html>
